@use './normalize';

:global {
  * {
    box-sizing: inherit;

    &::before,
    &::after {
      box-sizing: inherit;
    }
  }

  p,
  ol,
  ul,
  blockquote,
  figure {
    margin: 0;
    padding: 0;
  }
}
