@use '../variables/palette';
@use '../mixins/font';

:global {
  html {
    box-sizing: border-box;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    @include family;
    color: palette.$black;
    background: palette.$white;
    font-weight: 400;
  }
}
