/* Colors Palette */

// Actions
$primary: #0077cc !default;
$secondary: #ffbc03 !default;
$accent: #74b9ff !default;

// Neutrals
$black: #000000 !default;
$neutral-6: #424242 !default;
$neutral-5: #53575e !default;
$neutral-4: #666f7f !default;
$neutral-3: #bbbfc6 !default;
$neutral-2: #d5d9df !default;
$neutral-1: #f5f6f7 !default;
$white: #ffffff !default;

// States
$error: #d0021b !default;
$warning: #ce8100 !default;
$success: #4caf50 !default;

// Status
$deep-champagner: #fcd0a1 !default;
$laurel-green: #b1b695 !default;
$illuminating-emerald: #53917e !default;
$dark-liver: #63535b !default;
$claret: #6d1a36 !default;
