$negative: -100 !default;
$back: 0 !default;
$mid: 100 !default;
$fore: 200 !default;
$layer1: 300 !default;
$layer2: 400 !default;
$layer3: 500 !default;
$layer4: 600 !default;
$modal-shim: 700 !default;
$modal: 800 !default;
$notification: 900 !default;
$top: 1000 !default;
